<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
</head>
<body>
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">Имя пользователя: {{ user.username }}</h2>
          <p class="text-secondary">Email: {{ user.email }}</p>
        </div>
      </div>
        <a class="nav-item nav-link" href="{% url 'users:change_password' %}">Изменить пароль</a>
    </div>
</body>
</html>
